html, body {
  height: 100%; }

body, #app, #react-root {
  display: flex;
  flex: 1; }

#app, #svgland {
  margin: 5px;
  flex: 1; }

body {
  background-color: green; }

#app {
  background-color: cyan; }

circle {
  fill: #1f77b4;
  fill-opacity: .25;
  stroke: #1f77b4;
  stroke-width: 1px; }

.leaf circle {
  fill: #ff7f0e;
  fill-opacity: 1; }

text {
  font: 10px sans-serif;
  text-anchor: middle; }

#svgland {
  background: #333; }
