html, body {
  height: 100%; }

body, #app, #react-root {
  display: flex;
  flex: 1; }

#app, #svgland {
  margin: 5px;
  flex: 1; }

body {
  background-color: green; }

#app {
  background-color: cyan; }

circle {
  fill: #1f77b4;
  fill-opacity: .25;
  stroke: #1f77b4;
  stroke-width: 1px; }

.leaf circle {
  fill: #ff7f0e;
  fill-opacity: 1; }

text {
  font: 10px sans-serif;
  text-anchor: middle; }

#svgland {
  background: #333; }

/*.body-container {*/
/*font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;*/
/*max-width: 600px;*/
/*margin: 0 auto;*/
/*padding-top: 72px;*/
/*-webkit-font-smoothing: antialiased;*/
/*font-size: 1.125em;*/
/*color: #333;*/
/*line-height: 1.5em;*/
/*}*/
/*h1, h2, h3 {*/
/*color: #000;*/
/*}*/
/*h1 {*/
/*font-size: 2.5em*/
/*}*/
/*h2 {*/
/*font-size: 2em*/
/*}*/
/*h3 {*/
/*font-size: 1.5em*/
/*}*/
/*a {*/
/*text-decoration: none;*/
/*color: #09f;*/
/*}*/
/*a:hover {*/
/*text-decoration: underline;*/
/*}*/
